
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#myBtnContainer{
  margin-top: 10px;
}

.noshow {
  display: none;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-top: 10px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;

}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
}


.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

section{
  position:relative;
  width:100%;

  display:flex;
  justify-content:center;
  align-items:center;
}

section .main{
  width:900px;
  margin:0 20px;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}



table{
  margin: 20px 0px;

}

section .main .autocomplete{
  position: relative;
  width: 100%;
  margin-top:20px;
}

section .main .autocomplete .searchBox{
  border:1px solid #ccc;
  border-radius:30px;
  outline:none;
  font-size: 16px;
  width: 100%;
  padding:13px;
  padding-left: 45px;
}

section .main .autocomplete .icon{
  position:absolute;
  top:0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
  pointer-events: none;
}

section .main .autocomplete .icon img{
  max-width: 100%;
}

.searchButton{
  position:absolute;
  margin:0 5px;
  padding:12px 20px;
  color:#555;
  font-size:16px;
  border:none;
  cursor: pointer;
  border-radius: 4px;
  border:1px solid transparent;
  outline:none;
}

.searchButton:hover{
  border:1px solid #ccc;
}

a{
  text-decoration: none;
}

.title {
  color:blue;
  font-size: 18px;
  margin-bottom: 5px;
}

.title a:visited {
  color:#00008B;
  }

.title a:hover{
  text-decoration: underline;
}

.url {
  color:#008000;
  font-size: 14px;
  margin-bottom: 4px;
}

.url a:visited {
  color:#008000;
}

.answer{
  font-size:14px;
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.video{
  margin: 10px 0px;
}

.resultHeading{
  margin-bottom: 15px;
  font-weight: bold;
}

.highlight{
  background-color: #D3D3D3;
}

.videoContainer{
  display:flex;
  margin-top: 5px;
  margin-bottom: 20px;

}

iframe{
  width:420px;
  height:250px;
}

.videoText {
  margin-left: 10px;
}
